// @font-face declarations

@font-face {
    font-family: 'ConduitITC';
    src: url('../static/fonts/conduit/ConduitITC-Bold.woff2') format('woff2'),
        url('../static/fonts/conduit/ConduitITC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Siena';
    src: url('../static/fonts/siena/FSSiena-ExtraLight.woff2') format('woff2'),
        url('../static/fonts/siena/FSSiena-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Siena';
    src: url('../static/fonts/siena/FSSiena-ExtraLightItalic.woff2') format('woff2'),
        url('../static/fonts/siena/FSSiena-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}