$gutter = 14px

$margin-micro = 3px
$margin-tiny = 6px
$margin-small = 14px
$margin-basic = 20px
$margin-mid = 30px
$margin-large = 40px

grid-maker(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

// Typography

$font-size-basic = 12px
$font-size-about-copy = 24px

$font-size-title = 34px
$font-size-title-larger = 48px
$font-size-title-largest = 64px

html
  font-size: $font-size-basic

.font-size-about-copy
  font-size: $font-size-about-copy

.font-size-title
  font-size: $font-size-title

.font-size-title-larger
  font-size: $font-size-title-larger

.font-size-title-largest
  font-size: $font-size-title-largest

p
  margin-bottom: $margin-basic