@media screen and (min-width: 1024px)

  $gutter = 24px

  $margin-micro = 3px
  $margin-tiny = 6px
  $margin-small = 14px
  $margin-basic = 20px
  $margin-mid = 30px
  $margin-large = 40px

  $font-size-basic = 14px

  grid-maker(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic)

  p
    margin-bottom: $margin-basic

  .desktop-only
    display: initial !important